{% load static %}
<html>
    <head>
        <script src="{% static 'libs/chessboardjs-1.0.0/js/chessboard-1.0.0.js' %}"></script>
        <script src="{% static 'libs/jQuery/jquery-3.5.1.js' %}"></script> 
        <script src="{% static 'libs/bootstrap-4.5.3/js/bootstrap.bundle.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'libs/bootstrap-4.5.3/css/bootstrap.min.css' %}">
    </head>
    <body>
        <div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>