{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'libs/chessboardjs-1.0.0/css/chessboard-1.0.0.css' %}">
        <link rel="stylesheet" href="{% static 'libs/chessboard-arrows/chessboard-arrows.css' %}">
        <img srcset="{% static 'libs/chessboardjs-1.0.0/img/chesspieces/wikipedia' %}">
        <script src="{% static 'libs/chessboardjs-1.0.0/js/chessboard-1.0.0.js' %}"></script>
        <script src="{% static 'libs/jQuery/jquery-3.5.1.js' %}"></script>
        <script src="{% static 'libs/chessboard-arrows/chessboard-arrows.js' %}"></script>
    </head>
    <body>
        <div id="board_wrapper">
            <canvas id="primary_canvas" width="392" height="392" ></canvas>
            <canvas id="drawing_canvas"  width="392" height="392" ></canvas>
            <div id="board" style="width: 400px; height: 400px;"></div>
        </div>    
    </body>
</html>
<script>
    let board = Chessboard('board', {
        draggable: true,
        sparePieces: true
      })
      ChessboardArrows('board_wrapper');
      $('#startBtn').on('click', board2.start)
      $('#clearBtn').on('click', board2.clear)
</script>