{% extends "layout.html" %}
{% block content %}
<div class="card w-50">
    <div class="card-header">
        Регистрация
    </div>
    <div class="card-body">
        <form method="post" action="">
            {% csrf_token %}
            {% for field in reg_form.visible_fields %}
            <div class="form-group">
                <label>{{ field.label }}</label>
                {{ field }}
            </div>
            {% endfor %}
            <div class="form-group custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="remember_me" id="rememberMe">
                <label class="custom-control-label" for="rememberMe">Запомнить это устройство для входа</label>
            </div>
            <input class="mt-4 btn btn-outline-primary w-100" type="submit" value="Зарегистрироваться"/>
        </form>
        <div class="w-100 text-center">
            <a href="/account/login/">Войти</a>
        </div>
    </div>
</div>
{% endblock %}